<!DOCTYPE html>
<html>
  <head>
    <title>About US</title>
     <link rel="stylesheet" href="./css/style.css"> 
  </head>
  <body>
    {{>header}}
    <p>
     My name is pathan
    </p>
    {{>footer}}
  </body>
</html>
