<!DOCTYPE html>
<html>
  <head>
    <title>Help Page</title>
     <link rel="stylesheet" href="./css/style.css"> 
  </head>
  <body>
    {{>header}}
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis harum
      blanditiis a! Pariatur illo magnam mollitia. Libero maiores ex amet
      possimus ipsa quia reiciendis repellendus iste sit id, nobis laborum!
    </p>
    {{>footer}}
  </body>
</html>
