<!DOCTYPE html>
<html>
  <head>
    <title>Weather Page</title>
    <link rel="stylesheet" href="./css/style.css">   {{!--this have as like it is in public folder--}} 
  </head>
  <body>
    {{>header}}
    <p>
      use this site to get forecast information
    </p>

<form action="">
  <input/>
  <button >Search</button>
</form>

<main></main>

    {{>footer}}
    <script src="./js/app.js"></script>
  </body>
</html>
